.cartcardContainer{
    display: flex;
    width: 60vw;
    height: 180px;
    align-items: center;
    background-color: rgb(19,25,33);
    color: #fff6e5;
    margin-left: 2rem;
    box-sizing: border-box;
    
    overflow: hidden;
    border-radius: 12px;
}


.carditemLeft{
    height: 90%;
    width: 60%;
    background-color: rgb(19,25,33);

    display: flex;
    gap: 2rem;
    padding: 0 23px;
    align-items: center;
}

.addedProduct{
    height: 80px;
    width: 82px;
    object-fit: cover;
}
.cardIcons{
    display: flex;
    gap: 1rem;
align-items: center; 
}
.Itemsbtns{
    display: flex;
    gap: 1rem;
}
.carditemRight{
    height: 90%;
    padding-right: 2rem;
    width: 40%; 
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: rgb(19,25,33);
}
.DeleteIcon {
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.BookmarkIcon{
    cursor: pointer;
    height: 19px;
    width: 19px;
}
.incrementBtn , .decrementBtn{
    height: 40px;
    width: 60px;
}
.itemPrice{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.Itemsbtns{
    width: 50%;
}